body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif!important;
  height: 100vh;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(14,107,142,1) 100%);
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


ul{
  list-style: none;
  font-weight: 500;
}

input {
  border-radius: 5px;
  border:1px solid #999999;
  padding: 7px;
}

h4{
  color:#ffffff;
  text-transform: uppercase;
}

h5 {
  color:#0d6efd;
  text-transform: uppercase;
  font-size: 20px!important;
  font-weight: 500;
}